In [1]:
%%capture
%pip install -U 'rockfish[labs]' -f 'https://docs142.rockfish.ai/packages/index.html'

In [3]:
import rockfish as rf
import rockfish.labs as rl

In [4]:
!wget --no-clobber https://docs142.rockfish.ai/tutorials/finance.csv

File ‘finance.csv’ already there; not retrieving.

In [5]:
dataset = rf.Dataset.from_csv("finance", "finance.csv")
x = dataset.to_pandas().iloc[:5]
x.iloc[0, 0] = None
dataset = rf.Dataset.from_pandas("finance", x)
dataset.to_pandas()

,customer,age,gender,merchant,category,amount,fraud,timestamp
0,None,4,M,M348934600,transportation,4.55,0,2023-01-01
1,C575345520,2,F,M348934600,transportation,76.67,0,2023-01-01
2,C1787537369,2,M,M1823072687,transportation,48.02,0,2023-01-01
3,C1732307957,5,F,M348934600,transportation,55.06,0,2023-01-01
4,C842799656,1,F,M348934600,transportation,25.62,0,2023-01-01

Initiate Recommendation Engine

In [6]:
rec = rl.Recommender.from_dataset(
    dataset,
    metadata=["customer", "age", "gender"],
    other_categorical=[
        "merchant",
        "category",
        "fraud",
    ],
)
recommends = rec.recommendations()

In [7]:
print(recommends.report())

drop rows with missing values: [0]
verify PII detected
drop columns with single unique values: ['category', 'fraud', 'timestamp']

According to the report, users can take actions to preprocess the dataset before training. In terms of our available SDK methods on preprocessing steps, you can refer to [the Pre-processing page](https://docs142.rockfish.ai/pre-processing.html) for more details.