In [1]:
%%capture
%pip install -U 'rockfish[labs]' -f 'https://docs142.rockfish.ai/packages/index.html'

In [2]:
import pandas as pd
import numpy as np

import rockfish as rf
import rockfish.labs

In [3]:
# Create a random sample datasets with 2 numerical columns and 2 categorical columns
np.random.seed(42)
def generate_random_data(num_rows):
    numerical_col1 = np.random.rand(num_rows) * 100
    numerical_col2 = np.random.randn(num_rows) * 10
    categorical_col1 = np.random.choice(['A', 'B', 'C'], num_rows)
    categorical_col2 = np.random.choice(['X', 'Y', 'Z'], num_rows)

    data = {
        'numerical_1': numerical_col1,
        'numerical_2': numerical_col2,
        'categorical_1': categorical_col1,
        'categorical_2': categorical_col2
    }

    return pd.DataFrame(data)

dataset = rf.Dataset.from_pandas("sample", generate_random_data(100))
dataset.to_pandas()

    numerical_1  numerical_2 categorical_1 categorical_2
0     37.454012     0.870471             B             Z
1     95.071431    -2.990074             A             Y
2     73.199394     0.917608             B             X
3     59.865848   -19.875689             A             Y
4     15.601864    -2.196719             C             Z
..          ...          ...           ...           ...
95    49.379560    -8.158103             C             X
96    52.273283    -0.771017             A             X
97    42.754102     3.411520             A             Y
98     2.541913     2.766908             A             Z
99    10.789143     8.271832             A             X

[100 rows x 4 columns]

# Pearson correlation

In [4]:
rf.labs.metrics.pearsonr(dataset, "numerical_1", "numerical_2").to_pandas()

   statistic    pvalue
0  -0.149823  0.136803

# Cramer's V

In [5]:
# with bias correction
rf.labs.metrics.cramer_v(dataset, "categorical_1", "categorical_2", correction = True)

0.0

In [6]:
# without bias correction
rf.labs.metrics.cramer_v(dataset, "categorical_1", "categorical_2", correction = False)

0.111456636413722